@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ml-45 {
    margin-left: 45px;
  }
}

.container {
  @apply mx-auto flex flex-wrap justify-center items-center max-w-6xl py-8 m-9 text-white h-96 sm:h-auto sm:w-auto;
  height: 600px;
}

.container > div {
  @apply w-full md:w-1/2 sm:w-1/4;
}

.intro-heading {
  @apply text-2xl md:text-4xl lg:text-5xl font-extrabold dark:text-white;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(25) forwards;
}

@keyframes typing {
  from {
    text-indent: 100%;
  }
  to {
    text-indent: 0%;
  }
}

.intro-name {
  @apply text-2xl md:text-4xl lg:text-5xl font-extrabold text-black dark:text-white;
}
